{% extends "outline.html" %}


{% block title %}
Admin
{% endblock title %}

{% block content %}

{% if msg %}
<div class="alert alert-success" role="alert">
    {{ msg }}
</div>
{% endif %}
<h2>Users:</h2>
<table class="table">
    <thead>
        <tr>
            <th id="id-header">id</th>
            <th>username</th>
            <th>email</th>
            <th>password</th>
            <th>profile image</th>
            <th>contact username</th>
            <th>name</th>
            <th>surname</th>
            <th>recommender</th>
            <th id="delete-header">delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td id="id-cell">{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.profile_image }}</td>
            <td>{{ user.contact_username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.recommender }}</td>
            <td id="delete-cell">
                <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Articles:</h2>
<table class="table">
    <thead>
        <tr>
            <th id="id-header">id</th>
            <th>article title</th>
            <th id="body-header">artilce body</th>
            <th>article image</th>
            <th>date created</th>
            <th id="id-header">user id</th>
            <th id="delete-header">delete</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td id="id-cell">{{ article.id }}</td>
            <td>{{ article.article_title }}</td>
            <td id="body-cell">{{ article.article_body }}</td>
            <td>{{ article.article_image }}</td>
            <td>{{ article.date_created }}</td>
            <td id="id-cell">{{ article.user_id }}</td>
            <td id="delete-cell">
                <form action="{{ url_for('article_delete', article_id=article.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Ads:</h2>
<table class="table">
    <thead>
        <tr>
            <th id="id-header">id</th>
            <th>ad title</th>
            <th id="body-header">ad body</th>
            <th>date created</th>
            <th id="id-header">user id</th>
            <th>ad image</th>
            <th>views count</th>
            <th>ad type</th>
            <th>ad location</th>
            <th id="delete-header">delete</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td id="id-cell">{{ offer.id }}</td>
            <td>{{ offer.offer_title }}</td>
            <td id="body-cell">{{ offer.offer_body }}</td>
            <td>{{ offer.date_created }}</td>
            <td id="id-cell">{{ offer.user_id }}</td>
            <td>{{ offer.offer_image }}</td>
            <td>{{ offer.views_count }}</td>
            <td>{{ offer.offer_type }}</td>
            <td>{{ offer.offer_location }}</td>
            <td id="delete-cell">
                <form action="{{ url_for('ad_delete', offer_id=offer.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}