{% extends "outline.html" %}


{% block title %}
Admin
{% endblock title %}

{% block content %}

{% if msg %}
<div class="alert alert-success" role="alert">
    {{ msg }}
</div>
{% endif %}
<h2>Users:</h2>
<table class="table">
    <thead>
        <tr>
            <th id="id-header">id</th>
            <th>username</th>
            <th>email</th>
            <th>password</th>
            <th>profile image</th>
            <th>contact username</th>
            <th>name</th>
            <th>surname</th>
            <th>recommender</th>
            <th id="delete-header">edit</th>
            <th id="delete-header">delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td id="id-cell">{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.profile_image }}</td>
            <td>{{ user.contact_username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.recommender }}</td>
            <td><button type="button" style="border: none; background-color: unset;"
                    onclick="openEditModal({{user.id}})">Edit</button></td>
            <td id="delete-cell">
                <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Articles:</h2>
<table class="table">
    <thead>
        <tr>
            <th id="id-header">id</th>
            <th>article title</th>
            <th id="body-header">artilce body</th>
            <th>article image</th>
            <th>date created</th>
            <th id="id-header">user id</th>
            <th id="delete-header">edit</th>
            <th id="delete-header">delete</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td id="id-cell">{{ article.id }}</td>
            <td>{{ article.article_title }}</td>
            <td id="body-cell">{{ article.article_body }}</td>
            <td>{{ article.article_image }}</td>
            <td>{{ article.date_created }}</td>
            <td id="id-cell">{{ article.user_id }}</td>
            <td><button type="button" style="border: none; background-color: unset;"
                    onclick="openEditModal1({{article.id}})">Edit</button></td>
            <td id="delete-cell">
                <form action="{{ url_for('article_delete', article_id=article.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Ads:</h2>
<table class="table">
    <thead>
        <tr>
            <th id="id-header">id</th>
            <th>ad title</th>
            <th id="body-header">ad body</th>
            <th>date created</th>
            <th id="id-header">user id</th>
            <th>ad image</th>
            <th>views count</th>
            <th>ad type</th>
            <th>ad location</th>
            <th id="delete-header">edit</th>
            <th id="delete-header">delete</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td id="id-cell">{{ offer.id }}</td>
            <td>{{ offer.offer_title }}</td>
            <td id="body-cell">{{ offer.offer_body }}</td>
            <td>{{ offer.date_created }}</td>
            <td id="id-cell">{{ offer.user_id }}</td>
            <td>{{ offer.offer_image }}</td>
            <td>{{ offer.views_count }}</td>
            <td>{{ offer.offer_type }}</td>
            <td>{{ offer.offer_location }}</td>
            <td><button type="button" style="border: none; background-color: unset;"
                    onclick="openEditModal2({{offer.id}})">Edit</button></td>
            <td id="delete-cell">
                <form action="{{ url_for('ad_delete', offer_id=offer.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User:</h5>
                <button type="button" class="close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="POST">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label>Name: </label>
                        <div>
                            <input class="form-control" type="text" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>SurName: </label>
                        <div>
                            <input class="form-control" type="text" name="surname">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>UserName: </label>
                        <div>
                            <input class="form-control" type="text" name="username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email: </label>
                        <div>
                            <input class="form-control" type="text" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Recommender: </label>
                        <div>
                            <input class="form-control" type="text" name="recommender">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Profile Image: </label>
                        <div>
                            <input class="form-control" type="text" name="profile_image">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Contact UserName: </label>
                        <div>
                            <input class="form-control" type="text" name="contact_username">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitEdit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openEditModal(id) {
        $('#editModal').modal('show');
        $.ajax({
            url: "/get_user/" + id + "/",
            type: 'get',
            data: {
                id: id
            },
            success: (user) => {
                $('[name=id]').val(user.id);
                $('[name=name]').val(user.name);
                $('[name=surname]').val(user.surname);
                $('[name=username]').val(user.username);
                $('[name=email]').val(user.email);
                $('[name=recommender]').val(user.recommender);
                $('[name=profile_image]').val(user.profile_image);
                $('[name=contact_username]').val(user.contact_username);
            },
            error: () => {
                console.error('err');
            }
        })
    }

    function closeModal() {
        $('#editModal').modal('hide');
    }

    function submitEdit() {
        var data = {
            name: $('[name=name]').val(),
            surname: $('[name=surname]').val(),
            username: $('[name=username]').val(),
            email: $('[name=email]').val(),
            recommender: $('[name=recommender]').val(),
            contact_username: $('[name=contact_username]').val(),
        }
        $.ajax({
            url: '/update_user/' + $('[name=id]').val(),
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(data),
            success: (result) => {
                console.log(result);
                $('#editModal').modal('hide');
            },
            error: (err) => {
                console.log(err)
            }
        })
    }
</script>

<div class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Article:</h5>
                <button type="button" class="close" onclick="closeModal1()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="POST">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label>Article Title: </label>
                        <div>
                            <input class="form-control" type="text" name="article_title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Article Body: </label>
                        <div>
                            <input class="form-control" type="text" name="article_body">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal1()">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="submitEdit1()">Save changes</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openEditModal1(id) {
        $('#editModal1').modal('show');
        $.ajax({
            url: "/get_article/" + id + "/",
            type: 'get',
            data: {
                id: id
            },
            success: (article) => {
                $('[name=id]').val(article.id);
                $('[name=article_title]').val(article.article_title);
                $('[name=article_body]').val(article.article_body);
            },
            error: () => {
                console.error('err');
            }
        })
    }

    function closeModal1() {
        $('#editModal1').modal('hide');
    }

    function submitEdit1() {
        var data = {
            article_title: $('[name=article_title]').val(),
            article_body: $('[name=article_body]').val(),
        }
        $.ajax({
            url: '/update_article/' + $('[name=id]').val(),
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(data),
            success: (result) => {
                console.log(result);
                $('#editModal1').modal('hide');
            },
            error: (err) => {
                console.log(err)
            }
        })
    }
</script>

<div class="modal fade" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Offer:</h5>
                <button type="button" class="close" onclick="closeModal2()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="POST">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label>Offer Title: </label>
                        <div>
                            <input class="form-control" type="text" name="offer_title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Offer Body: </label>
                        <div>
                            <input class="form-control" type="text" name="offer_body">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Offer Type: </label>
                        <div>
                            <input class="form-control" type="text" name="offer_type">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Offer Location: </label>
                        <div>
                            <input class="form-control" type="text" name="offer_location">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal2()">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="submitEdit2()">Save changes</button>
                    </div>
            </div>
        </div>
    </div>

    <script>
        function openEditModal2(id) {
            $('#editModal2').modal('show');
            $.ajax({
                url: "/get_offer/" + id + "/",
                type: 'get',
                data: {
                    id: id
                },
                success: (offer) => {
                    $('[name=id]').val(offer.id);
                    $('[name=offer_title]').val(offer.offer_title);
                    $('[name=offer_body]').val(offer.offer_body);
                    $('[name=offer_type]').val(offer.offer_type);
                    $('[name=offer_location]').val(offer.offer_location);
                },
                error: () => {
                    console.error('err');
                }
            })
        }

        function closeModal2() {
            $('#editModal2').modal('hide');
        }

        function submitEdit2() {
            var data = {
                offer_title: $('[name=offer_title]').val(),
                offer_body: $('[name=offer_body]').val(),
                offer_type: $('[name=offer_type]').val(),
                offer_location: $('[name=offer_location]').val(),
            }
            $.ajax({
                url: '/update_offer/' + $('[name=id]').val(),
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(data),
                success: (result) => {
                    console.log(result);
                    $('#editModal2').modal('hide');
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }
    </script>

    {% endblock content %}