{% extends "outline.html" %}


{% block title %}
Base
{% endblock title %}

{% block content %}



<div class="container-fluid" style="height: 20%;">
  <div class="row">
    <div class="col-sm-3" style="color: red;"><br>ΦΙΛΤΡΑ</div>
    <div class="col-sm-9">
      <form id="filter-form" class="row" method="POST">
        <div class="col-sm-4">ΕΙΔΟΣ ΑΓΓΕΛΙΑΣ<br>
          <input type="checkbox" name="filters" value="στα" {% if 'στα' in request.form.getlist('filters') %}checked{%
            endif %}>
          <label for="filters">στα</label><br>
          <input type="checkbox" name="filters" value="Το χρειάζομαι" {% if 'Το_χρειάζομαι' in
            request.form.getlist('filters') %}checked{% endif %}>
          <label for="filters">Το χρειάζομαι</label><br>
          <input type="checkbox" name="filters" value="The Collectives είναι εξαιρετικές" {%
            if 'The_Collectives_είναι_εξαιρετικές' in request.form.getlist('filters') %}checked{% endif %}>
          <label for="filters">The Collectives είναι εξαιρετικές</label>
        </div>
        <div class="col-sm-4">ΤΟΠΟΘΕΣΙΑ<br>
          <input type="checkbox" name="filters" value="περιοχη" {% if 'περιοχη' in request.form.getlist('filters')
            %}checked{% endif %}>
          <label for="filters">περιοχη</label><br>
          <input type="checkbox" name="filters" value="Περιοχή(Επίπεδο 2)" {% if 'Περιοχή(Επίπεδο_2)' in
            request.form.getlist('filters') %}checked{% endif %}>
          <label for="filters">Περιοχή(Επίπεδο 2)</label><br>
          <input type="checkbox" name="filters" value="Απόσταση(χιλιόμετρα)" {% if 'Απόσταση(χιλιόμετρα)' in
            request.form.getlist('filters') %}checked{% endif %}>
          <label for="filters">Απόσταση(χιλιόμετρα)</label>
        </div>
        <div class="col-sm-4">ΧΡΟΝΟΣ<br>
          <input type="checkbox" name="filters" value="Επικοινωνία" {% if 'Επικοινωνία' in
            request.form.getlist('filters') %}checked{% endif %}>
          <label for="filters"> Επικοινωνία </label><br>
          <input type="checkbox" name="filters" value="7 ημέρεςr" {% if '7_ημέρες' in request.form.getlist('filters')
            %}checked{% endif %}>
          <label for="filters"> 7 ημέρες </label><br>
          <input type="checkbox" name="filters" value="1 μήνας" {% if '1_μήνας' in request.form.getlist('filters')
            %}checked{% endif %}>
          <label for="filters"> 1 μήνας </label>
        </div>
      </form>
    </div>
  </div>
</div>
{% if offers %}
{% for offer in offers.items %}
<div class="col col-md-4" style="padding: 40px;">

  {% if offer.offer_image and offer.offer_image != 'default_offer_image.jpg' %} <img
    src="{{ url_for('static', filename='images/offers_images/'+offer.offer_image) }}" alt=""
    class="img-responsive a_image" width="100%" height="300px">
  {% endif %}
  <div class="main-article-title">
    <a class="article_title" href="{{ url_for('full_offer', offer_id=offer.id) }}">{{ offer.offer_title | safe
      }}</a>
  </div>
  <small class="article_date">[{{ offer.date_created.strftime('%d-%m-%Y') }}]</small>
  <!-- Display the view count for the ad -->
  <p class="view-count">
    Views: {{ offer.views_count }}
  </p>
  <p class="main-article-partial-text">
    {{ offer.offer_body | truncate(100) | safe }}
  </p>
  <p class="">Από
    <span>
      <a class="author-name" href="{{ url_for('offers_by_author', author_id=offer.author.id) }}"> {{
        offer.author.username }}
        <img class="rounded-circle profile-image" alt="{{ offer.author.username }}"
          src="{{ url_for('static', filename='images/profiles_images/'+ offer.author.profile_image) }}"
          data-holder-rendered="true" data-bs-toggle="tooltip" data-bs-placement="top"
          title="{{ offer.author.username }}">
      </a>
    </span>
  </p>

</div>




{% endfor %}

<div class="pagination">
  {% for page_number in offers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

  {% if page_number %}

  {% if offers.page == page_number %}

  <a href="{{ url_for('offers', page=page_number) }}" class="active">{{ page_number }}</a>

  {% else %}
  <a href="{{ url_for('offers', page=page_number) }}">{{ page_number }}</a>
  {% endif %}

  {% else %}
  <span>...</span>
  {% endif %}


  {% endfor %}

</div>
{% endif %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var filterForm = document.getElementById("filter-form");

    // Add event listeners to filter options
    var filterOptions = filterForm.querySelectorAll("input[type=checkbox], select");
    filterOptions.forEach(function (option) {
      option.addEventListener("change", function () {
        filterForm.submit(); // Trigger form submission
      });
    });
  });
</script>
{% endblock content %}