{% extends "outline.html" %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
<div>
  <div>
    <div>
      <h3>ΕΠΙΚΟΙΝΩΝΙΑ</h3>
      <br>
      <br>

      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div>
          <div>Η ομάδα μας είναι περιορισμένη και τα μέλη μας αφιερώνουν ελεύθερο χρόνο τους στο εγχείρημα του
            MEKAREVERSE.
            Παρακαλούμε διάλεξε από τις παρακάτω κατηγορίες για να λάβεις απάντηση απευθείας από το μέλος που έχει πιο
            σχετικό ρόλο με το ερώτημά σου!</div>
          <br>
          <br>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="option1" name="option"
              value="Problem Registering / Connecting to the group">
            <label class="form-check-label" for="option1">Πρόβλημα Εγγραφής / Σύνδεσης στην ομάδα</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="option2" name="option"
              value="Problem adding Article / Advertisement">
            <label class="form-check-label" for="option2">Πρόβλημα προσθήκης Άρθρου / Αγγελίας</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="option3" name="option" value="Άλλο">
            <label class="form-check-label" for="option3">Άλλο</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 login-form-1">
            <p>My email</p>
            {{ form.email(class="form-control", required=True) }}
            {% if form.email.errors %}
            <ul class=errors>
              {% for error in form.email.errors %}
              <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 login-form-1">
            <p>Περιγραφή ζητήματος (εώς 200 λέξεις)</p>
            {{ form.description(class="form-control", rows="5", required=True) }}

            {% if form.description.errors %}
            <ul class=errors>
              {% for error in form.description.errors %}
              <li class="alert text-danger">Παρακαλώ συμπληρώστε σωστά το reCaptcha</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <br>
        <br>
        <div class="mb-3">
          <p>reCAPTCHA</p>
          <div data-sitekey="{{ g.app.config['6LcaiCkoAAAAANAQHGIAIsQaLiOahl6py3__NWZU'] }}" data-callback="onSubmit">{{
            form.recaptcha }}</div>
          {% if form.recaptcha.errors %}
          <ul class="errors">
            {% for error in form.recaptcha.errors %}
            <li class="alert text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <br>
        <div class="mb-3" style="border-radius: 30px;">
          <button class="btn btn-primary" type="submit">ΑΠΟΣΤΟΛΗ ΜΗΝΥΜΑΤΟΣ</button>
          <br>
          <br>
          <br>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}