<footer class="page-footer font-small stylish-color-dark pt-1 mt-4">
  <div style="display: flex;justify-content: space-around;align-items: center;">
    <div class="row" style="width: 100%;">
      <div class="col-md-9" style="display: flex;justify-content: flex-start;align-items: center;">
        <div class="footer-copyright py-3 text-center" style="margin-left: 20px;">
          <div style="background-color: blue;color: white; height: fit-content;">Ποιοι είμαστε</div>
        </div>
        <div class="footer-copyright py-3 text-center" style="margin-left: 100px;">
          <div style="background-color: blue;color: white; height: fit-content;">Πολιτική Cookies</div>
        </div>
      </div>
      <div class="col-md-3" style="display: flex;justify-content: flex-end;align-items: center;">
        <div class="footer-copyright py-3 text-center" style="margin-right: 20px;">
          <div style="background-color: blue;color: white; height: fit-content;">Ας συνδεθούμε</div>
        </div>
      </div>
    </div>
  </div>
</footer>