{% extends "outline.html" %}


{% block title %}
Index
{% endblock title %}


{% block content %}


<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class="col col-md-12">
                <p class="main-text">
                <h2>ΤΑΥΤΟΤΗΤΑ ΚΙΝΗΜΑΤΟΣ</h2>
                <p>Το MEKAREVERSE (Μέτωπο για τη Κοινωνική Απελευθέρωση – Με.Κ.Α.) είναι μια προσπάθεια συγκρότησης ενός
                        κοινωνικού μετώπου από τα κάτω, ξεκινώντας αρχικά μέσω ενός πρώτου διαδικτυακού σχηματισμού, που
                        θα έχει σαν στόχο τη διάχυση κουλτούρας κοινωνικής χειραφέτησης από το κράτος και το κεφάλαιο,
                        στη βάση μιας απώτερης προοπτικής, αυτή της δημιουργίας μιας κοινωνίας της γενικευμένης
                        αυτοδιεύθυνσης.
                </p>
                <a href="blog/meka/" style="color: black;">Διάβασε περισσότερα για ο Με.Κ.Α. εδώ</a>
        </div>
</div>

<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class="col col-md-12">
                <p class="main-text">
                <h2>ΒΑΣΗ ΑΛΛΗΛΕΓΓΥΗΣ</h2>
                <p>Στο MEKAREVERSE θεωρούμε πως η αξία της αδελφοσύνης των από τα κάτω,είναι ουσιαστικό στοιχείο της
                        προσπάθειας μας, είτε σαν όπλο αντιμετώπισης της κοινωνικής αποσάθρωσης που το σύστημα
                        επιχειρεί, είτε σαν γενεσιουργό λίπασμα για την μελλοντική αλλυλέγγυα αταξική κοινωνία.
                </p>
                <a href="/bash/" style="color: black;">Διάβασε περισσότερα για την Βάση Αλληλεγγύης του MEKAREVERSE
                        εδώ</a>
        </div>
</div>


<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class="col col-md-12">
                <p class="main-text">
                <h2>ΠΩΣ ΓΙΝΟΜΑΙ ΜΕΛΟΣ</h2>
                <p>
                <pre style="font-size: 1rem; font-family: var(--bs-font-sans-serif);">Για να γίνεις μέλος του MEKAREVERSE χρειάζεται να:

                •Με συστήσει ένα ληδη υπάρχον μέλος* (Θα σταλεί στη διεύθυνση ηλεκτρονικού ταχυδρομείου του μέλους αίτημα για την έγκριση σου).
                *Αυτό γίνεται για λόγους ασφαλείας και σε ευχαριστούμε που κατανοείς την αναγκαιότητα της σύστασης.
                •Να απαντήσεις σε ένα ελαφρώς εκτενές ερωτηματολόγιο για να είναι σαφής η σύγκλιση μας στις προαναφερθείσες αξίες. Η μέση διάρκεια που χρειάζεται 
                 είναι 20 λεπτά.
                Αμέσως μετά σε καλωσορίζουμε και επίσημα κοντά μας!
                *’Έχουμε προσθέσει αυτό το εξαιρετικά σημαντικό βήμα προκειμένου να διασφαλίσουμε την επιβίωση και τη ουσιαστική ανάπτυξη του εγχειρήματος στο
                χρόνο.
                </pre>
                </p>
                <div class="mb">
                        <a class="btn btn-primary" href="/signup/">ΘΕΛΩ ΝΑ ΓΙΝΩ ΜΕΛΟΣ ΤΟΥ MEKAREVERSE</a>
                </div>
        </div>
</div>

{% endblock content %}