{% extends "outline.html" %}


{% block title %}
Index
{% endblock title %}


{% block content %}


<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class="col col-md-12">
                <p style="font-size: 1.2rem; text-align: center;">ΤΑΥΤΟΤΗΤΑ ΚΙΝΗΜΑΤΟΣ</p>
                <p>Το MEKAREVERSE (Μέτωπο για τη Κοινωνική Απελευθέρωση – Με.Κ.Α.) είναι μια προσπάθεια συγκρότησης ενός
                        κοινωνικού μετώπου από τα κάτω, ξεκινώντας αρχικά μέσω ενός πρώτου διαδικτυακού σχηματισμού, που
                        θα έχει σαν στόχο τη διάχυση κουλτούρας κοινωνικής χειραφέτησης από το κράτος και το κεφάλαιο,
                        στη βάση μιας απώτερης προοπτικής, αυτή της δημιουργίας μιας κοινωνίας της γενικευμένης
                        αυτοδιεύθυνσης.
                </p>
                <a href="/identify/" style="color: black;">Διάβασε περισσότερα για ο Με.Κ.Α. εδώ</a>
        </div>
</div>


<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class="col col-md-12">
                <p style="font-size: 1.2rem; text-align: center;">ΚΑΤΑΣΤΑΤΙΚΟ ΛΕΙΤΟΥΡΓΙΑΣ</p>
                <p>Η ΜΕΚΑREVERSE είναι μια προσπάθεια συγκρότησης ενός κοινωνικού μετώπου των από τα κάτω, με στόχο τη
                        συμβολή
                        στην κατεύθυνση της κοινωνικής χειραφέτησης από το κράτος και το κεφάλαιο. Πρόκειται για μια
                        ένωση προσώπων
                        που στοχεύουν στη δημιουργία αυτοοργανωμένων κοινοτήτων αλληλεγγύης και χειραφέτησης σε όλη τη
                        χώρα,
                        οργανωμένες σε ομόσπονδη μορφή.
                </p>
                <a href="/article_title/5" style="color: black;">Διάβασε περισσότερα για ο Με.Κ.Α. εδώ</a>
        </div>
</div>


<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class="col col-md-12">
                <p style="font-size: 1.2rem; text-align: center;">ΑΡΧΕΣ, ΣΤΟΧΟΙ ΚΑΙ ΘΕΣΕΙΣ</p>
                <p>Το ΜΕΚΑREVERSE είναι μια ένωση προσώπων που σχηματίζουν ένα ενιαίο μετωπικό συλλογικό υποκείμενο,
                        πάνω στη
                        βάση συγκεκριμένων πολιτικών προταγμάτων. Πιστεύουμε σε μια κοινωνία γενικευμένης
                        αυτοδιεύθυνσης, ίσων,
                        ελεύθερων κι ευημερούντων ανθρώπων, και παλεύουμε για τη χειραφέτηση της κοινωνίας από το κράτος
                        και το
                        κεφαλαιοκρατικό τρόπο ζωής. Αυτός είναι και ο τελικός μας στόχος.
                </p>
                <a href="/article_title/6" style="color: black;">Διαβάστε περισσότερα για τις Αρχές, τους Στόχους και
                        τις Θέσεις εδώ</a>
        </div>
</div>


<div class="row my-3 p-3 bg-body rounded shadow-sm">
        <div class=" col col-md-12">
                <p style="font-size: 1.2rem; text-align: center;">ΠΩΣ ΓΙΝΟΜΑΙ ΜΕΛΟΣ</p>
                <p>Για να γίνεις μέλος του MEKAREVERSE χρειάζεται να:</p><br>
                <div style="padding-left: 50px;">
                        <p>•Με συστήσει ένα ληδη υπάρχον μέλος* (Θα σταλεί στη διεύθυνση ηλεκτρονικού ταχυδρομείου του
                                μέλους αίτημα για την έγκριση σου).
                                *Αυτό γίνεται για λόγους ασφαλείας και σε ευχαριστούμε που κατανοείς την αναγκαιότητα
                                της σύστασης.</p>
                        <p>•Να απαντήσεις σε ένα ελαφρώς εκτενές ερωτηματολόγιο για να είναι σαφής η σύγκλιση μας
                                στις προαναφερθείσες αξίες. Η μέση διάρκεια που χρειάζεται
                                είναι 20 λεπτά.
                                Αμέσως μετά σε καλωσορίζουμε και επίσημα κοντά μας!
                                *’Έχουμε προσθέσει αυτό το εξαιρετικά σημαντικό βήμα προκειμένου να διασφαλίσουμε την
                                επιβίωση και τη ουσιαστική ανάπτυξη του εγχειρήματος στο
                                χρόνο.</p>
                </div>
                <div class="mb">
                        <a class="btn btn-primary" href="/signup/">ΘΕΛΩ ΝΑ ΓΙΝΩ ΜΕΛΟΣ ΤΟΥ MEKAREVERSE</a>
                </div>
        </div>
</div>

{% endblock content %}