{% extends "outline.html" %}


{% block title %}
Είσοδος
{% endblock title %}


{% block content %}


<div class="container login-container">
  <h3>ΣΥΝΔΕΣΗ</h3>
  <p>Συμπλήρωσε το email ή το username με το οποίο έχεις εγγραφεί για να αποκτήσεις πρόσβαση σε όλο το περιεχόμενο της
    ιστοσελίδας του MEKAREVERSE.</p>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 login-form-1">
      <form id="recaptcha-form" method="POST" action="/login/">
        {{ form.csrf_token }}

        <div class="mb-3">
          <p>E-mail/Username εγγεγραμμένου μέλους</p>
          {{ form.email(class="form-control", required=False) }}

          {% if form.email.errors %}
          <ul class=errors>
            {% for error in form.email.errors %}
            <li class="alert text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="mb-3">

          <p>Password</p>
          {{ form.password(type="password", class="form-control", required=False) }}

          <br>


          {% if form.password.errors %}
          <ul class=errors>
            {% for error in form.password.errors %}
            <li class="alert text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>



        <div class="mb-3">
          {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <div class="mb-3">
          <p>reCAPTCHA</p>

          <div data-sitekey="{{ g.app.config['6LcaiCkoAAAAANAQHGIAIsQaLiOahl6py3__NWZU'] }}" data-callback="onSubmit">{{
            form.recaptcha }}</div>
          <!-- <div data-sitekey="{{ g.app.config['6LdXYSkoAAAAAEuVjIhREhDCS2PHUN4U1oMyezJD'] }}" data-callback="onSubmit">{{
            form.recaptcha }}</div> -->
          {% if form.recaptcha.errors %}
          <ul class="errors">
            {% for error in form.recaptcha.errors %}
            <li class="alert text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit" name="submit" id="submit" value="ΣΥΝΔΕΣΗ ΜΕΛΟΥΣ">
            ΣΥΝΔΕΣΗ ΜΕΛΟΥΣ</button>
        </div>
      </form>

    </div>
  </div>
</div>






{% endblock content %}