{% extends "outline.html" %}


{% block title %}
Εγγραφή
{% endblock title %}


{% block content %}


<div class="container login-container">
    <h3>Σελίδα Εγγραφής</h3>
    <p>Για να εγγραφείς στο MEKAREVERSE θα πρέπει να συμφωνείς με τον Κανονισμό Λειτουργίας της ομάδας καθώς και να σε
        συστήσει ένα ήδη εγγεγραμμένο μέλος μας! Φροντίσαμε να συμπεριλάβουμε αυτό το βήμα για λόγους ασφαλείας.
        * Ζήτα απο το υπάρχον μέλος μας το email (ή το username) με το οποίο έχει εγγραφεί στον MEKAREVERSE και
        συμπλήρωσε το στην παρακάτω φορμα μαζί με τα απαραίτητα στοιχεία εγγραφής.
    </p>
    <div class="row">
        <div class="col-md-6 login-form-1">



            <form action="/signup/" method="POST">

                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <p>Όνομα</p>
                    {{ form.name(class="form-control", required=False) }}

                    {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                        <li class="alert text-danger">
                            {{ error }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <p>Επώνυμο</p>

                    {{ form.surname(class="form-control", required=False) }}
                    {% if form.surname.errors %}
                    <ul class="errors">
                        {% for error in form.surname.errors %}
                        <li class="alert text-danger">
                            {{ error }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <p>Username</p>
                    {{ form.username(class="form-control", required=False) }}

                    {% if form.username.errors %}
                    <ul class="errors">
                        {% for error in form.username.errors %}
                        <li class="alert text-danger">
                            {{ error }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>



                <div class="mb-3">
                    <p>Διεύθυνση email σου </p>
                    {{ form.email(class="form-control", required=False) }}
                    {% if form.email.errors %}
                    <ul class=errors>
                        {% for error in form.email.errors %}
                        <li class="alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <p>Email/Username μέλους σύστασης</p>
                    {{ form.recommender(class="form-control", required=False) }}
                    {% if form.recommender.errors %}
                    <ul class=errors>
                        {% for error in form.recommender.errors %}
                        <li class="alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <p>Password (συμπεριλαμβάνει συνδιασμό πεζών – κεφαλαίων – αριθμών και ειδικών χαρακτήρων –
                        τουλάχιστον 3 από τα 4 )</p>
                    {{ form.password(class="form-control", type="password", required=False) }}
                    {% if form.password.errors %}
                    <ul class=errors>
                        {% for error in form.password.errors %}
                        <li class="alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <p>Επιβεβαίωση Password</p>
                    {{ form.password2(class="form-control", type="password", required=False) }}
                    {% if form.password2.errors %}
                    <ul class=errors>
                        {% for error in form.password2.errors %}
                        <li class="alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <p>reCAPTCHA</p>
                    <div data-sitekey="{{ g.app.config['6LcaiCkoAAAAANAQHGIAIsQaLiOahl6py3__NWZU'] }}"
                        data-callback="onSubmit">{{
                        form.recaptcha }}</div>
                    {% if form.recaptcha.errors %}
                    <ul class="errors">
                        {% for error in form.recaptcha.errors %}
                        <li class="alert text-danger">Παρακαλώ συμπληρώστε σωστά το reCaptcha</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="ΟΛΟΚΛΗΡΩΣΗ ΕΓΓΡΑΦΗΣ">
                </div>


            </form>


        </div>
    </div>
</div>










{% endblock content %}